.container {
  padding: 0 2rem;
}

 .container main{
  padding: 4rem 0;
  margin: 1rem 1rem;
  height: 29rem;
  display: flex;
  
  justify-content: space-around;
  align-items: center;
 }
.container .encryptedInFront{
  flex-direction: row;
}
.container .decryptedInFront{
  flex-direction: row-reverse;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
